a:hover {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    border-radius: 3px;
}
.sidebar .list-group-item {
    border:0;
    border-radius: 3px;
    margin-bottom: 5px;
}
.blog-list-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
}
.blog-list-item:first-child {
    padding-top: 0;
}
.blog-list-item .title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height:1.5;
    display: block;
}
.blog-list-item .info{
    color: #888;
}
.avatar {
    display: inline-block;
}
.avatar .img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.billboard{
    background: rgba(0,0,0,0.05);
    margin: 15px 0;
    padding: 20px 10px;
}
.billboard-title {
    border-bottom: 1px solid #333;
}
.billboard-content {
    margin: 10px 0;
}
.tag-box {
    background: rgba(0,0,0,0.05);
    margin: 15px 0;
    padding: 20px 10px;
}
.tag-box a {
    color: #fff;
}
.tag-box a:hover {
    text-decoration: none;
    color: #eee;
}
.footer {
    text-align: center;
    margin: 10px 0;
}